<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/flask_app/static/css/style.css">
    <title>About us</title>
</head>
<body class="background-color padding">
    <h1>About us</h1>
    <div class="padding">
        <h2 class="abt-margin">Vision and Mission</h2>
        <p>Foodbuddy Vision and Mission both are to make our user's lives easier. 
        Giving people a random eateries from fast food to dine in restaurants.
        We understand the user's requirement, analyze it and provide the best restaurant for them.
        We want to give users convenience instead of stress or anxiety picking a place to eat at.
        We satisfy our clients by our services and implement it with a more effictive randomizer.
        </p>
        <hr class="abt-margin">
        <h3 class="abt-margin">How did we make this website?</h3>
        <p>We made this website using Flask, Model View Controller(MVC),
            VS Code, HTML, CSS, JavaScript, and Python. We also have a little
            research regarding this project. It took us 3 days to make this 
            entire program while implementing a user friendly interface.
        </p>
        <hr class="abt-margin">
        <h3 class="abt-margin">How do you use it?</h3>
        <p>Simple guidelines to use this program.</p>
        <ul>Step 1: Push Start button.</ul>
        <ul>Step 2(Optional): Pick your choice of the type of the food.</ul>
        <ul>Step 3: Click the randomizer.</ul>
        <hr class="abt-margin">
        <h3 class="abt-margin">Others...</h3>
        <p>This food randomizer is designed to make your lives 
        easier and stop future arguments about picking where to eat.
        This is made, programmed and designed by four students of 
        Coding Dojo year of 2021 month of October.
        </p>
    </div>
    <button class="home-btn">Home</button>
    <button class="home-btn">Find a place to eat</button>
</body>
</html>