<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/flask_app/static/css/style.css">
    <title>Contact us</title>
</head>
<body>
    <div class="cntc-us">
        <div class="cntc-header">
            <h1>Software Developers</h1>
            <br>
        </div>
        <br>
        <div class="cntc-box">
            <h2>Carl Agoncillo</h2>
            <p class="bold">Email:</p>
            <p>agoncillo_carl@gmail.com</p>
            <p class="bold">Github:</p>
            <p><a href="https://github.com/carlagoncillo">https://github.com/carlagoncillo</a></p>
            <p class="bold">LinkedIn:</p>
            <p>
            <a href="https://www.linkedin.com/in/carl-agoncillo-0b24b7220?trk=people-guest_people_search-card">LinkedIn.com/Carl-Agoncillo
            </a>
            </p>
            <p class="bold">About me:</p>
            <p>Coding Dojo class of September 2021.</p> 
            <p>Earned one yellow belt and one red belt.</p>
            <p>Learned Full Stack in the span of 2 months.</p>
        </div>
        <br>
        <div class="cntc-box">
            <h2>Alan Sobenes</h2>
            <p class="bold">Email:</p>
            <p>alansobenes@gmail.com</p>
            <p class="bold">Github:</p>
            <p><a href="https://github.com/AlanSobenes">https://github.com/alansobenes</a></p>
            <p class="bold">LinkedIn:</p>
            <p>
            <a href="https://www.linkedin.com/in/alan-sobenes/">LinkedIn.com/Alan-Sobenes
            </a>
            </p>
            <p class="bold">About me:</p>
            <p>Coding Dojo class of September 2021.</p> 
            <p>Earned one yellow belt and one red belt.</p>
            <p>Learned Full Stack in the span of 2 months.</p>
        </div>
        <br>
        <div class="cntc-box">
            <h2>Johann Huang</h2>
            <p class="bold">Email:</p>
            <p>squashameleon@gmail.com</p>
            <p class="bold">Github:</p>
            <p><a href="https://github.com/Johann-Huang">https://github.com/johannhuang</a></p>
            <p class="bold">LinkedIn:</p>
            <p>
            <a href="https://www.linkedin.com/in/johann-huang-7344686a?trk=people-guest_people_search-card">LinkedIn.com/Johann-Huang
            </a>
            </p>
            <p class="bold"> About me:</p>
            <p>Coding Dojo class of September 2021.</p> 
            <p>Earned one yellow belt and one red belt.</p>
            <p>Learned Full Stack in the span of 2 months.</p>
        </div>
        <br>
        <div class="cntc-box">
            <h2>Krammer Jensen</h2>
            <p class="bold">Email:</p>
            <p>kramerdjensen@gmail.com</p>
            <p class="bold">Github:</p>
            <p><a href="https://github.com/KramerJProg/Food-Buddy">https://github.com/krammerjensen</a></p>
            <p class="bold">LinkedIn:</p>
            <p>
            <a href="https://www.linkedin.com/in/kramer-jensen-9417b8217/">LinkedIn.com/Kramer-Jensen
            </a>
            </p>
            <p class="bold">About me:</p>
            <p>Coding Dojo class of September 2021.</p> 
            <p>Earned one yellow belt and one red belt.</p>
            <p>Learned Full Stack in the span of 2 months.</p>
        </div>
        <br>
        <button class="home-btn">Home</button>
        <button class="home-btn">Find a place to eat</button>
    </div>    
</body>
</html>