<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/flask_app/static/css/style.css">
    <title>foodbuddy</title>
</head>
<body>
    <div class="topnav">
        <h1><a href="#home" class="active">foodbuddy</a></h1>
        <div id="myLinks">
            <a href="#contact">Contact us</a>
            <a href="#about">About us</a>
            <a href="https://www.codingdojo.com/">Coding Dojo</a>>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        <img src="/flask_app/static/img/frenchfries.gif" class="img">
    </div>
    <div class="btn-mid">
        <h1 class="text">Welcome to foodbuddy</h1>
        <button class="btn">Start</button>
    </div>
    <script src="/flask_app/static/js/html_css.js"></script>
</body>
</html>