*{
    margin: 0px;
    padding: 0px;
    /* height: 800px; */
}




/* PAGE 2 */

/* .content{
    background-color: red;
    height: 100vh
}

.container-header{
    background-color: gold;
    height: 10%;
    padding: 5% 3% 0%;
}

.title-box{
    background-color: red;
    margin: 0px 20%;
    text-align: center;
    padding: 2%;
    color: gold;
    font-family: monospace;
    margin-top: 2%;
    border: 2px solid black;
} */

/* 2nd page bottom box info */

.abt-us{
    margin-top: 130%;
    padding: 10px;
}


.abt-us h3{
    margin-left: 6px;
}

.abt-us p{
    text-align: center;
    margin: 0px 5px;
}

